.App {
  height:100vh;
}

.App-header {
  background-color: rgb(255, 255, 255);
  display:flex;
  align-items:center;
  font-weight: bold;
  padding-left: 40px;
  font-size:24px;
  padding: auto 20px;
  color: rgb(65,70,81);
}

.App-content{
  position:relative;
}

.App-footer {
  margin-top:auto;
  background-color: rgb(221,222,225);
  display: flex;
  align-items: center;
}

.App-error-message{
  color: darkred
}